.play-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  padding: 20px;

  &__board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    //width: 320px;
    //padding: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background: #a5d8ff;
    border: 1px solid #2268aa;
    border-radius: 16px;
  }
  &__navigation {
    display: flex;
    justify-content: space-around;
    a {
      color: black;
      padding: 7px;
      border-radius: 10px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      margin-right: 20px;
      &:hover {
        //color: #1971c2;
        cursor: pointer;
      }
    }
    a:hover {
      background-color: #4b8cc9;
    }
    a.active {
      font-size: 21px;
      background-color: #2268aa;
    }
    a.active:hover {
      background-color: none;
    }
  }

  .session-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .quiz-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
