#root {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url('../assets//background//FrontSide.png') no-repeat center top;
  background-size: cover;
  //
  margin: 0;
  padding: 0;
  //
}
