.quiz-table {
  td,
  th {
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: #fff455;
    }
  }

  .td {
    transition: transform 0.3s ease-in-out;
    &-finished {
      background-color: var(--green-confirm);
    }
    &-active {
      background-color: #fff455;
      transform: scale(1.08);
    }
  }

  &--transparent {
    background-color: transparent;
  }
}
