.host-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1280px;
  padding: 20px;
  //width: 100%;
  margin: 0 auto;

  &__board {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    //width: 320px;
    //padding: 20px;
    padding: 20px 20px;
    margin-bottom: 20px;
    background: #a5d8ff;
    border: 1px solid #2268aa;
    border-radius: 16px;
  }
}
